{% extends "main/base.html" %}
{% block title %}Your Courses{% endblock %}
{% block page %}Your Courses{% endblock %}
{% block content %}
<body>
      <div class="flexbox-container">
        <div class="flexbox-item box1"><h1>{{ course.title }}</h1></div>
        <div class="flexbox-item box2">
            <video width="320" height="240" autoplay muted controls >
                <source src="{{ course.preview_video.url }}" type="video/mp4">
            </video>
        </div>
          <div class="flexbox-item box3"><h2>{{ course.description }}</h2></div>
          <div class="flexbox-item box4">
              {% if boolean == True %}
                  {% for i in opened_lessons %}
                    <h2><a href="/courses/{{ course.id }}/{{ i.id }}/">{{ i.name }}</a></h2>
                  {% endfor %}
                {% for j in closed_lessons %}
                    <h2>{{ j.name }}</a></h2>
                {% endfor %}
              {% else %}
                {% for i in lessons %}
                    {% for j in i.courses.all %}
                        {% if j == course %}
                            <h2>{{ i.name }}</h2>
                        {% endif %}
                    {% endfor %}
                  {% endfor %}
              {% endif %}
              </div>
      </div>
    </body>
{% endblock %}
