{% extends "../base/base.html" %}

{% load static %}

{% block title %} {{ course.title }} {% endblock title %}

{% block external_styles %}
<link rel="stylesheet" href="{% static 'main/css/course.css' %}">
<link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
{% endblock external_styles %}

{% block content %}
<div class="row courseWrapper">
  <div class="col-6 previewVideoAndDescriptionWrapper">
    <div class="row">
      <div class="col-12">
	    <div class="m-course__previewVideo">
            <iframe width="300" height="300" src="{{ course.preview_video.embed_url }}" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
	    <h2 class="col-12 courseTitle">{{ course.title }}</h2>

	    <p class="col-12 m-course__description">
	    {{ course.description }}
	    </p>
      </div>
    </div>
  </div>
  {# The course is not locked #}
  {% if boolean %}
  <div class="col m-courseLessons">
    <h3 class="m-courseLessons__title">Lessons</h3>

    {# Render the accessible lessons #}
    {% for opened_lesson in opened_lessons %}
    <div class="m-courseLesson__wrapper">
      <a class="m-courseLesson__link" href="{% url 'course_lesson' id_course=course.id id_lesson=opened_lesson.id %}">{{ opened_lesson.name }}</a>
    </div>
    {% endfor %}

    {# Closed lessons are opened if the preceeding lesson has been completed #}
    {% for closed_lesson in closed_lessons %}
    <div class="m-courseLesson__wrapper d-flex">
      <span>{{ closed_lesson.name }}</span>
      <span class="material-icons-outlined" style="margin-left: auto; color: white;">lock</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {# Locked lessons #}
  <div class="col m-courseLessons">
    <h3 class="m-courseLessons__title">Lessons</h3>
    
    {% for lesson in lessons %}
    <div class="m-courseLesson__wrapper d-flex">
      <span>{{ lesson.name }}</span>
      <span class="material-icons-outlined" style="margin-left: auto; color: white;">lock</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
