{% extends "../base/base.html" %}

{% load static %}

{% block title %} {{ course.title }} {% endblock title %}

{% block external_styles %}
<link rel="stylesheet" href="{% static 'main/css/course.css' %}">
{% endblock external_styles %}

{% block external_scripts %}

{% endblock external_scripts %}

{% block content %}
<div class="row courseWrapper">
  <div class="col-6 previewVideoAndDescriptionWrapper">
    <div class="row">
      <div class="col-12" style="max-width: 514px;">
	    <div class="m-course__previewVideo youtube-iframe-container">
            <span class="top-links-barrier"></span>
            <iframe width="400" height="280" src="{{ course.preview_video.embed_url }}"
                    allowfullscreen
                    frameborder="0">

            </iframe>
            <div class="youtube-fullscreen-substitute" onclick="toggleFullScreen(event);">
              <img src="{% static 'main/img/fs.png' %}">
            </div>
        </div>
      </div>
      <div class="row">
	    <h2 class="col-12 courseTitle">{{ course.title }}</h2>

	    <p class="col-12 m-course__description">
	    {{ course.description }}
	    </p>
      </div>
    </div>
  </div>
  {# The course is not locked #}
  {% if boolean %}
  <div class="col m-courseLessons">
    <h3 class="m-courseLessons__title">Lessons</h3>

    {# Render the accessible lessons #}
    {% for opened_lesson in opened_lessons %}
    <div class="m-courseLesson__wrapper">
      <a class="m-courseLesson__link" href="{% url 'course_lesson' id_course=course.id id_lesson=opened_lesson.id %}">{{ opened_lesson.name }}</a>
    </div>
    {% endfor %}

    {# Closed lessons are opened if the preceeding lesson has been completed #}
    {% for closed_lesson in closed_lessons %}
    <div class="m-courseLesson__wrapper d-flex">
      <span>{{ closed_lesson.name }}</span>
      <span class="material-icons-outlined" style="margin-left: auto; color: white;">lock</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {# Locked lessons #}
  <div class="col m-courseLessons">
    <h3 class="m-courseLessons__title">Lessons</h3>
    
    {% for lesson in lessons %}
    <div class="m-courseLesson__wrapper d-flex">
      <span>{{ lesson.name }}</span>
      <span class="material-icons-outlined" style="margin-left: auto; color: white;">lock</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
