{% extends '../base/base.html' %}

{% load static %}
{% load course_tags %}

{% block external_styles %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock external_styles %}

{% block content %}
{% if courses_list %}
<h2 class="mb-3 section__title"> My courses </h2>
<div class="m-coursesWrapper">
  {% for course in courses_list %}
  <div class="m-course">
    <h3 class="m-course__title">
      <a class="m-course__link" href="{% url 'course_detail' id=course.id %}">{{ course.title }}</a>
    </h3>
    <p class="m-course__description">
      {{ course.description }}
    </p>
    <div class="m-course__enrollButtonWrapper">
      <a class="btn btn-sm btn-success rounded-0 m-course__enrollButton" href="{% url 'course_detail' id=course.id %}">Go to course</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if not_courses_list %}
<h2 class="mb-3 mt-5 section__title"> Other courses</h2>
<div class="m-coursesWrapper">
  {% for course in  not_courses_list %}
    <div class="m-course">
      <h3 class="m-course__title">
	{{ course.title }}
      </h3>
      <p class="m-course__description">
	{{ course.description }}
      </p>
      <div class="text-right m-course__enrollButtonWrapper">
	<a class="btn btn-sm btn-success rounded-0 m-course__enrollButton" href="{% url 'course_detail' id=course.id %}">Go to course</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
