{% extends "../base/base.html" %}

{% load static %}

{% block title %} {{ lesson.name }} {% endblock title %}

{% block external_styles %}
<link rel="stylesheet" href="{% static 'main/css/lesson.css' %}">
<link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
{% endblock external_styles %}

{% block content %}
<h3 class="m-lesson__name">{{ lesson.name | upper }}</h3>
<div class="row">
    <div class="col">
      <div class="m-lesson__videos">
        {% for lesson_video in lesson.videos.all %}
          <div class="m-lesson__videoWrapper">
            <div class="m-lesson__video youtube-iframe-container">
              <span class="top-links-barrier"></span>
              <iframe width="300" height="300" src="{{ lesson_video.embed_url }}" allowfullscreen></iframe>
              <div class="youtube-fullscreen-substitute" onclick="toggleFullScreen(event);">
                <img src="{% static 'main/img/fs.png' %}">
              </div>
            </div>
            <div class="m-lesson__videoDescription">
              {{ lesson_video.description }}
            </div>
          </div>

        {% endfor %}
      </div>
      <h4 class="m-lesson__descriptionTitle">
        <span class="material-icons-outlined descriptionIcon">description</span>
        <span>Description</span>
      </h4>
      <p class="m-lesson__description">
        {{ lesson.description }}
      </p>

      <p class="m-lesson__body">
        {{ lesson.body }}
      </p>
    </div>
</div>

{% if boolean %}
<form method="post" action="{% url 'lesson_completed' id_course=course.id id_lesson=lesson.id %}">
  {% csrf_token %}
  <button class="btn btn-success rounded-0" type="submit">I have completed this lesson</button>
</form>
{% endif %}
{% endblock %}
