{% extends '../base/base.html' %}

{% load static %}

{% block  external_styles %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock external_styles %}

{% block content %}
<div class="m-fullUserProfile">
  <img class="m-fullUserProfilePhoto" src="{{ profile.photo }}">
  <div class="m-fullUserProfileBioWrapper">
    <p class="m-fullUserProfileName">{{ profile.name }}</p>
    <p class="m-fullUserProfileEmail">{{ user.email }}</p>
  </div>
</div>
{% endblock content %}
