body {
    font-family: 'Albert Sans', sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 14px;
}

.markdown h1 {
    font-size: 26px;
}

.markdown h2 {
    font-size: 21px;
}

.markdown h3 {
    font-size: 17px;
}

.m-header, .m-headerNoNav {
    background-color: #198754;
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-header__logo {
    margin-bottom: 0;
    font-size: 18px;
}

.m-header__logoLink, .m-header__logoLink:hover {
    text-decoration: none;
    color: white;
}
.content-wrapper {
    margin-bottom: 95px;
    margin-top: 41px;

}

.m-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 1px solid #E6E6E6;
    height: 80px;
    justify-content: center;
    z-index: 1000;
}
.m-nav__icon {
    vertical-align: text-bottom;
    color: #CCCCCC;
    font-size: 36px;
    display: inline-block;
}

.m-nav__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.m-nav__link, .m-nav__link:hover {
    color: #737373;
    text-decoration: none;
}

@media screen and (max-width: 620px) {
    .m-nav__item {
	margin-right: 15px;
	padding-right: 12px;
	padding-left: 12px;
    }

    body {
        font-size: 14px;
    }
}
