.m-contentWrapper {
    margin-top: 41px;
}

.m-course__previewVideo {
    flex: 1 1 100%;
    max-width: 100%;
}

.m-courseLessons {
    margin-left: auto;
}

.m-course__description {
    color: #8C8C8C;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
}

.m-courseLessons__title {
    font-size: 18px;
    padding: 10px;
    background-color: #198754;
    color: white;
    margin-bottom: 0;
}

.m-courseLesson__wrapper {
    background-color: #125F3B;
    padding: 12px;
}
.m-courseLessons > .m-courseLesson__wrapper:not(:last-child) {
    border-bottom: 1px solid #188050;
}

.m-courseLesson__link, .m-courseLesson__link:hover {
    color: white;
    text-decoration: none;
}

.courseTitle {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

@media screen and (max-width: 1000px) {

    .courseWrapper__1 {
	flex-direction: column;
    }

    .courseWrapper__2 {
	width: 100%;
	margin-bottom: 20px;
    }
}
