.h-coursesNavItemActive {
    border: 1px solid #125F3B;
    background-color: #125F3B;
}

.h-coursesNavLinkActive, .h-coursesNavLinkActive:hover {
    color: white;
}

/* 
   Courses page and index uses the same stylesheet (index.css),
   In courses page, reset the values of h-homeNavItemActive and h-homeNavLinkActive
*/
.h-homeNavItemActive {
    border: none;
    background-color: inherit;
}

.h-homeNavLinkActive, .h-homeNavLinkActive:hover {
    color: #737373;
}
