.m-contentWrapper {
    margin-top: 41px;
}
.m-lesson__description {
    color: #8C8C8C;
    margin-top: 8px;
    margin-bottom: 30px;
}

.m-lesson__name {
    font-size: 25px;
    margin-top: 15px;
}

.m-lesson__descriptionTitle {
    margin-top: 20px;
    font-size: 20px;
}

.descriptionIcon {
    vertical-align: text-bottom;
    color: #8C8C8C;
}

.m-lesson__body {
    text-align: justify;
    color: #333333;
}

.m-lesson__video {
    width: 100%;
    max-width: 640px;
}

.m-lesson__videos {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.m-lesson__video {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;
}

.m-lesson__video iframe,
.m-lesson__video object,
.m-lesson__video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
